h1 {
   color: blue;
   text-align: center;
   text-decoration: underline overline wavy;
   font-family: impact, helvetica;
}

section {
   background-color: lightgreen;
   text-align: center;
   font-size: 36px;
   border: solid 2px;
   width: 50%;
}
